<script type="text/javascript">
function SelectAll(id)
{
    document.getElementById(id).focus();
    document.getElementById(id).select();
}
</script>

<textarea id="pgp-text" rows="32" cols="64" style="font-family:Courier New, Courier, monospace;padding:2rem" onClick="SelectAll('pgp-text')">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQENBFyPHXUBCAC7JU3AdFWOwRKRRjvnhRb4lnsAQAz7oX4H4VlCLtAyugemekdW
WSXhv2+X44JNf2c9ngg5e+hzQxO43IJQbMXA6Ap6/RgA+q53IaRB1fNt3yfHvrLi
fFY7/n5TLse5dV2xft0//16LaPkOgy5AznEvPevY+AZF8onHD00c2YQNyljF6+4H
+GtJVPfS0jgbToHuxL0zuCKPumxd9/UlP15nraq0yzWoFh34WiHY0bGh3CF5yKKu
CoodIFgiaflPF2V8VLcOSwQ/ILjcOfFRvw4WTcUWwbWvZiXsYT+zwrKP+AfDR7r6
pq2zY4nnnigrV7kUsG+2ahKHMet7nig4JvLnABEBAAG0KktldmluIFIgVmluY2Vu
dCA8a3J2aW5jZW50QHByb3Rvbm1haWwuY29tPokBTgQTAQgAOBYhBJYE/V7NH3Wg
ZpPBknlfxTUXXCU3BQJcjx11AhsDBQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJ
EHlfxTUXXCU3CSgH/j8IMg1SBhOZU4BP4DDqLghCHAUbrROTK2+A9pmX8eHtbIRf
cgAJw1dlWLt+U1LkcmAi175cLx1qQ+oimTQHPJTvHL7Aqi0PZ7lRKCGw+I+Z0X6E
9JIfQRShEREcrV11huqRABUuG8Qy4iUybZScWYQWV76a9sspgdjQtl/TwToIiIci
HOvlyjUcgR85llCg5BGrV7mWRJMjr4cs1iE1K4fttxBKaHHNCFO8XmHYQQeZG65v
uWu/nHecQ7LsZzgPr8yv0y4bh1yOGgHl9/rWy6NaFFpTaMP7E8JxO/OEL1P5M/uC
iEa8c+itN6SLPS5nznobPBzIXMzfi8qgWUC0CMi5AQ0EXI8ddQEIAOOWbs/h5e6W
ei8rfY8pm0v86yIxOyC1WA9QtRj1GrVKccYNNoVZL4qg8lh5vi1ao+Ldo2HMbxT8
EzmjmeXpCZ1BewWkH42LmIBd0t2EWLj9HW3FysDiI4Sp0zTNg207B3u+tWJimDmm
zQcjeUkAg5atB53e1oKsJ7JfHWLdFNCzgj64KSpADjlkjzrhiyGnLa+tU7NQPe2/
zPhUX83zqPFBT+LUe4Ob2rD6u/BoLaIwdx1nG/nRBv49/dEueVL4PJ1Lzi2dd72/
t1hRJxJDMwkTnjRKv6PNcWM7SwWmsnmO5tb2eXMHwMSvEU2U3KLAGcaeiC+bkKYj
u+3KgbQnXnUAEQEAAYkBNgQYAQgAIBYhBJYE/V7NH3WgZpPBknlfxTUXXCU3BQJc
jx11AhsMAAoJEHlfxTUXXCU31LUH/jBgyQ4Mih0/7V3MuiaUvc36W+HwfAxHkocE
kGsjUTUzwktI4myx4hLau4KQINfXcjliKpm8tfMFT3dBMuXA0fEUtYFIqFK92abk
nwlg5aM0BVZltpe6hxyElv46kvUBb17ycTw/kcp2axgvrXxMcApWhoc5tWsn2XSx
aHlGKsOhPF55ze8Cfd8K2FUlz7/zo/da73YkeLjDBD4LHS9Fk4JVaIRaJbWEYHc5
ooT+wGCLnukFJnvR95SaPadKGKiToqvYDa48zuKewBlya3Ty4Fnjr5h2j+k/Ir6E
AKr0jpgVGpRaVf92Y4PTofpi9s5IMZ5NfCbiVbEM93GW7XghBAE=
=GcJq
-----END PGP PUBLIC KEY BLOCK-----
</textarea>
